{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">


    {% include 'css.html' %}

      <style>
      {% block style %}
      {% endblock %}
      </style>



  </head>
  <a>

  </a>

  <body>
  {% include 'navbar.html' %}

{% if messages %}

<div class='container'>
<div class='alert alert-success text-center alert-dismissible'>
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br/>
  {% endfor %}
</div>

</div>
{% endif %}

{% block jumbotron %} {% endblock %}
    <div class="container">



            {% block content %}

            {% endblock %}


    </div> <!-- /container -->

    {% include "js.html" %}

    <script>
    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    });
    </script>

  </body>
</html>
